body {
    font-family: Playfair Display, sans-serif;
    line-height: 1.6;
    background-color: #f4ecd8;
    color: #3e2723;

}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

}


#navbar-section {
    background: #ebdec1;

}

.logo-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;

}
.logo-img img{
    width:115%;
    display: block;
    margin-left: 45px;
    border-radius: 20px;
    border: 1.5px solid #3e2723;
}

.col-25 {
    flex: 0 0 20.8333%;
    max-width: 20.8333%;
}

#main-section {
    padding-left: 25px;
    padding-top: 35px;
}

#search-input {
    border-radius: 15px;
    background-color: #ebdec1;
    color: #3e2723;
    border: 2px solid #3e2723;
    margin-left: 90px;
    width: 80%;
    padding: 7px 7px;
}

.lighter{
    color: #8d6e63;
}

.btn-genre a {
    text-decoration: none;
    background-color: #ebdec1;
    color: #3e2723;
    border: 3px solid #3e2723;
    border-radius: 50px;
    padding: 8px 16px;
    display: inline-block;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-genre a:hover{
    background-color: #3e2723;
    color: #ebdec1;
}

.back-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.back-btn a{
    text-decoration: none;
    background-color: #ebdec1;
    color: #3e2723;
    border: 3px solid #3e2723;
    border-radius: 50px;
    padding: 8px 16px;
    display: inline-block;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.back-btn a:hover {
    background-color: #3e2723;
    color: #ebdec1;
}

.link-box {
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.link-box:hover{
    border: 2px solid #3e2723;
}


.hover-underline{
    position: relative;
    display: inline-block;
}


.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: #3e2723;
    transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
    width: 100%;
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}


.underline:hover::after {
    width: 100%;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #3e2723;

    animation: underline-grow 1s ease-out forwards;
}

@keyframes underline-grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.bg-brown {
    background-color: #ebdec1;
}

#footer{
    background-color: #d7c3a3;
    color: #ebdec1;
}
.footer-links a{
    color: #ebdec1;

}

.light-text {
    color: rgb(101, 90, 75);
}

.empty-state{
    border-radius: 15px;
    border: 1.5px dashed #8d6e63;
    background-color:#ebdec1;
    opacity: 50%;
    
}

.empty-state h4{
    color:  #523b30;
    opacity: 100%;

}