body {
    font-family: Playfair Display, sans-serif;
    line-height: 1.6;
    background-color: #f4ecd8;

}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;

}


#navbar-section {
    background: #ebdec1;

}

.logo-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;

}
.logo-img img{
    width:50%;
    display: block;
    margin-left: 80px;
}

.col-25 {
    flex: 0 0 20.8333%;
    max-width: 20.8333%;
}

#main-section {
    padding-left: 25px;
    padding-top: 35px;
}

#search-input {
    border-radius: 15px;
    background-color: #ebdec1;
    color: #3e2723;
    border: 2px solid #3e2723;
    margin-left: 90px;
    width: 80%;
    padding: 7px 7px;
}



.btn-genre a {
    text-decoration: none;
    background-color: #ebdec1;
    color: #3e2723;
    border: 3px solid #3e2723;
    border-radius: 50px;
    padding: 8px 16px;
    display: inline-block;
    margin: 5px;
}

.link-box{
    border-radius: 15px;
    border-color: darkblue;
}

/* footer */

#footer{
    background-color: #ebdec1;
}
.footer-links a{
    color: #8d6e63;

}